.vis-container {
    width: 100%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.page {
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}
